/* БЛОК ЗАПИСИ */
.consult {
  background-color: var(--color-primary);
}

.consult__container {
  max-width: 1200px;
  display: flex;
  gap: 3rem;
  align-items: center;
  background-color: #222;
  padding: 3rem;
  border-radius: 15px;
  margin: 0 auto;
}

.consult__content {
  flex: 1;
  color: white;
}

.consult__tag {
  margin-bottom: 1rem;
}

.consult__title {
  margin: 0.5rem 0 1rem;
}

.consult__description {
  color: #ddd;
  max-width: 400px;
  margin-bottom: 5rem;
}

.consult__phone-btn {
  display: inline-flex;
  align-items: center;
  background-color: var(--color-yellow);
  color: #222;
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  font-size: 0.9rem;
}

.consult__phone-icon {
  font-size: 1.1rem;
  margin-right: 0.5rem;
}

.consult__image-placeholder {
  flex: 1;
  width: 100%;
  max-width: 430px;
  max-height: 300px;
  background-color: #e0e0e0;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #888;
  font-size: 0.9rem;
  overflow: hidden;
}

@media (width <= 768px) {
  .consult__container {
    flex-direction: column;
    padding: 2rem;
  }
}
