/* ИСТОРИЯ / ВИДЕО */
.history {
  background-color: var(--color-primary);
}

.history__tag {
  margin-bottom: 1rem;
}

.history__title {
  margin: 0.5rem 0 1rem;
}

.history__description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.history__container {
  padding: 4rem 1rem;
  max-width: 1200px;
  text-align: center;
  margin: 0 auto;
}

.history__video-placeholder {
  position: relative;
  width: 100%;
  max-width: 800px;
  max-height: 300px;
  margin: 0 auto;
}
