.mb-1 {
  margin-bottom: 1rem !important;
}

.mb-2 {
  margin-bottom: 2rem !important;
}

.mb-05 {
  margin-bottom: 0.5rem !important;
}

.mb-075 {
  margin-bottom: 0.75rem !important;
}

.mb-15 {
  margin-bottom: 1.5rem !important;
}

.mt-3 {
  margin-top: 3rem;
}

.mt-2 {
  margin-top: 2rem;
}

.mt-1 {
  margin-top: 1rem;
}

.m-0501 {
  margin: 0.5rem 0 1rem;
}

.m-050 {
  margin: 0.5rem 0;
}

.m-0auto {
  margin: 0 auto;
}

.m-0 {
  margin: 0;
}

.ml-auto {
  margin-left: auto;
}

.mr-auto {
  margin-right: auto;
}

.mr-05 {
  margin-right: 0.5rem;
}
