/* КОМАНДА */
.team {
  padding: 4rem 1rem;
  background-color: var(--color-primary);
}

.team__title {
  margin: 0.5rem 0 1rem;
}

.team__description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2rem;
}

.team__container {
  max-width: 1200px;
  text-align: center;
}

.team__container--margin {
  margin: 0 auto;
}

.team__members {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 2rem;
}

.team__members--margin-top {
  margin-top: 2rem;
}
