/* ЦЕННОСТИ */
.values {
  background-color: var(--color-primary);
}

.values__tag {
  margin-bottom: 0.5rem;
}

.values__title {
  margin: 0.5rem 0 1rem;
}

.values__description {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1rem;
}

.values__container {
  padding: 4rem 1rem;
  max-width: 1200px;
  margin: 0 auto;
}

.values__header {
  text-align: center;
  margin-bottom: 2rem;
}

.values__btn {
  display: inline-block;
  background-color: var(--color-secondary);
  color: var(--color-primary);
  padding: 0.75rem 1.5rem;
  border-radius: 25px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 1rem;
}

.values__cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-auto-rows: auto;
  gap: 1.5rem;
  margin-top: 2rem;
}

@media (width <= 768px) {
  .values__header {
    text-align: left;
  }

  .values__description,
  .history__description,
  .team__description {
    text-align: left;
  }
}
